In [23]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [ ]:
Series 是一维的，一般业务处理是多维的，所以出现了Dataframe 他是基于Series的

In [26]:
#随机生成两组数据 一组python 一组java 学生有lucy mery tom jack

In [27]:
python =Series(data=np.random.randint(40,100,size=4),index=['lucy','mery','tom','jacy'],name='python')
java =Series(data=np.random.randint(40,100,size=b4),index=['lucy','mery','tom','jacy'],name='java')
display(python,java)

lucy    86
mery    73
tom     88
jacy    64
Name: python, dtype: int32

lucy    68
mery    75
tom     79
jacy    40
Name: java, dtype: int32

## DataFrame的使用
1.使用列索引 行索引 数据创建
2.使用字典创建

In [29]:
# 使用列索引 行索引 数据创建
"""
data数据是有行和列的 所以数据区是一个二维数组
index 行标题  列表类型
columns 列标题 列表类型
"""
data=np.random.randint(30,100,size=(4,2))
index=['lucy','mery','tom','jacy']
columns=['python','java']
df=DataFrame(data=data,index=index,columns=columns)
display(data,df)

array([[80, 47],
       [72, 31],
       [80, 56],
       [84, 42]])

      python  java
lucy      80    47
mery      72    31
tom       80    56
jacy      84    42

In [31]:
#使用字典创建 行索引 默认是数组下标  字典的键会被当作列索引
dic={
    'python':[80,72,80,84],
    'java':[47,31,56,42]
}
df=DataFrame(data=dic)
df

   python  java
0      80    47
1      72    31
2      80    56
3      84    42

In [15]:
#从文件中读取

In [24]:
df=pd.read_excel("./zh.xlsx")
df

      1  python  java
0   tom      56    34
1  mery      67    89
2  jack      56    99
3  luck      45    67

In [26]:
#excel中有多个表 可以取特定的表
df=pd.read_excel("./zh.xlsx",sheet_name='Sheet2')
df

  Unnamed: 0  python  java
0        tom      56    34
1       mery      67    89
2       jack      56    99
3       luck      45    67