In [2]:
import numpy as np
from pandas import Series

In [20]:
sorce=np.random.randint(40,100,size=6)
name=['tom','lucy','jack','rose','hanmeimei','lilei']
grade=Series(data=sorce,index=name)
grade

tom          72
lucy         63
jack         75
rose         82
hanmeimei    61
lilei        51
dtype: int32

In [9]:
grade.loc['tom']

69

In [10]:
grade.lucy

41

In [11]:
grade.loc[['tom','lucy']]

tom     69
lucy    41
dtype: int32

In [19]:
grade<60

tom          False
lucy          True
jack         False
rose         False
hanmeimei     True
lilei        False
dtype: bool

In [13]:
#获取不及格
grade[grade<60]

lucy         41
hanmeimei    42
lilei        59
dtype: int32

In [14]:
#获取平均成绩
np.mean(grade)

58.5

In [15]:
grade.mean()

58.5

In [16]:
#获取最高成绩
grade.max()

73

In [21]:
grade.loc["lilei"]+=10
grade

tom          72
lucy         63
jack         75
rose         82
hanmeimei    61
lilei        61
dtype: int32

In [42]:
s=grade.sort_values()
s

hanmeimei    61
lilei        61
lucy         63
tom          72
jack         75
rose         82
alex         87
dtype: int64

In [43]:
#获取第三名成绩的学生
s[-3:-2]

jack    75
dtype: int64

In [44]:
#改进  获取第三名成绩的学生
grade.loc[s==s.iloc[-3]]

jack    75
dtype: int64

In [34]:
#添加 一个新生 alex
grade["alex"]=87
grade

tom          72
lucy         63
jack         75
rose         82
hanmeimei    61
lilei        61
alex         87
dtype: int64

In [61]:
#添加多个
s=Series(data={'liming':66,
              'xiaohong':56
              })

# grade.append(Series数据)
s=grade.append(s)
grade

tom          72
lucy         63
jack         75
rose         82
hanmeimei    61
lilei        61
alex         87
dtype: int64

In [62]:
s

tom          72
lucy         63
jack         75
rose         82
hanmeimei    61
lilei        61
alex         87
liming       66
xiaohong     56
dtype: int64

In [63]:
#值去重
s.unique()

array([72, 63, 75, 82, 61, 87, 66, 56], dtype=int64)